

.container {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.form-box {
  width: 380px; 
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 60px;
}

.button-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  transition: background 0.3s;
}

.toggle-btn:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.input-group {
  display: none;
  transition: all 0.5s ease;
}

#login {
  display: block;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

span {
  color: red;
}

.container-form button {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
}

button:hover {
  opacity: 0.8;
}

.container-form {
  padding: 16px;
}

.container-form span.psw {
  float: right;
  padding-top: 16px;
}