.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: justify;
    margin-bottom: 20px;
}

.movie-info {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.movie-poster {
    width: 475px;
}

.movie-poster img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: left;
    flex: 1;
    line-height: 1.45;
}

.movie-details p {
    margin-bottom: 5px;
    font-size: 20px;
}

.movie-details strong {
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
}

.center svg {
    margin-right: 10px;
}
h1{
    color: #FF5F00;
}
.title {
    font-size: 25px;
    color: #FF5F00;
}

/* Lịch chiếu */
.showtimes {
    margin-top: 40px;
}

.showtimes h2 {
    text-align: center;
    margin-bottom: 20px;
}

.showtime-date {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFFAE6
}

.showtime-date.active {
    background-color: #FF5F00;
}

.showtime-list {
    margin-top: 10px;
    display: none;
    /* Ẩn danh sách suất chiếu ban đầu */
}

.showtime-list.active {
    display: block;
    /* Hiển thị khi click vào ngày */
}

.show-time-list {
    display: none;
}

/* Hiển thị .show-time-list khi có class 'active' */
.show-time-list.active {
    padding: 24px;
    border: 1px solid black;
    display: block;
    border-top: none;
    background-color: #FFFAE6;
    /* Hoặc kiểu hiển thị khác: inline-block, flex,... */
}
.cinema-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px;
    border: 1px black solid;
    margin-top: 20px;
    background-color: #FFFAE6;
}
.cinema-item svg {
    transition: transform 0.5s ease;
}

.cinema-item svg.rotated {
    transform: rotate(-90deg);
    transform-origin: center;
}
.cinema-item.active{
    border-bottom: none;
}
.showtime-link {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.showtime-link:hover {
    background-color: #FF5F00;
    color: black;
}

/* Ghế */
.seat-map {
    /* display: grid; */
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.seat-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.seat {
    padding: 8px;
    background-color: rgb(91, 156, 255);
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.seat.selected {
    background-color: #FF5F00;
    color: black;
}

.seat.sold {
    background-color: #ccc;
    cursor: not-allowed;
}

.seat.reserved {
    background-color: #ccc;
    cursor: not-allowed;
}

.arc {
    width: 80%;
    /* Điều chỉnh độ rộng của vòng cung */
    height: 20px;
    /* Điều chỉnh độ cao của vòng cung */
    border-radius: 50% / 100%;
    /* Tạo hình dạng nửa vòng tròn */
    border-bottom-left-radius: 0;
    /* Loại bỏ bo tròn góc dưới bên trái */
    border-bottom-right-radius: 0;
    /* Loại bỏ bo tròn góc dưới bên phải */
    background-color: #000000;
    /* Màu nền của vòng cung */
    margin: 20px auto;
    /* Căn giữa vòng cung */
    margin-bottom: 50px;
}

#pay-button {
    margin-top: 40px;
    padding: 10px;
    background-color: #FF9F66;
    border: none;
}

#pay-button:hover {
    background-color: #FF5F00;
}
.seat-legend{
    margin-top: 20px;
    /* display: flex; */
}
.legend-item{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.legend-item .none{
    
    background-color: rgb(91, 156, 255);
}
.legend-item .sold{
    background-color: #ccc;
}
.legend-item .seat{
    margin-top: 10px;
    margin-right: 10px;
}